<!DOCTYPE html>
<html>
<head>
  <title>Diacomm1</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
    <section class="col-12">

      <nav id="navbar-site" class="fixed-top navbar-inverse bg-primary navbar-expand-sm">
        <ul class="nav nav-pills">
          <li class="nav-item"><a class="nav-link navbar-brand" href="/">Diacomm(WIP)</a></li>
          <li class="nav-item"><%= link_to "Diabetes?",more_path, class: "-inverse"%></li>
          <li class="nav-item"><a class="nav-link bg-inverse" href="https://en.wikipedia.org/wiki/Diabetes_mellitus_type_1">More T1 Diabetes!</a></li>
        <%- if current_user -%>
          <li class="nav-item"><%= link_to 'Sign Out', destroy_user_session_path, class: "nav-link text-primary", method: :delete %></li>
        <%- else -%>
          <li class="nav-item"><%= link_to 'Sign Up', new_user_registration_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to 'Sign In', new_user_session_path, class: "nav-link"%></li>
        <%- end -%>
        </ul>
      </div>
    </nav>

  <!-- HERO -->
  <div class="content" id="flash_graph">
    <%- flash.each do |key, value| -%>
      <div class="flash flash-<%= key %>">
        <%= value %>
      </div>
    <%- end -%>
  </div>
  <!-- MAIN -->
  <div class="main">
    <%= yield :charts_js %>
    <%= yield %>
  </div>
  <%= javascript_include_tag 'application' %>
    <!-- FOOTER -->
  <%= yield :extra_footer %>
</div>
</body>
</html>
